* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

input,
button {
  outline: none; }

body {
  background: #e6ecf0;
  font-family: "nunito", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

button {
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.list {
  list-style: initial; }

.d-flex {
  display: flex; }

.d-inline-block {
  display: inline-block; }

a {
  color: inherit;
  text-decoration: none; }

img {
  vertical-align: middle;
  max-width: 100%; }

.badge-alert {
  border-radius: 5px;
  color: #fff;
  padding: 1px 3px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  font-size: 11px;
  font-weight: bold; }

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  flex: 1; }

.col {
  flex-grow: 1; }

[class*="col"] {
  min-height: 50px;
  display: flex;
  flex-direction: column; }

.col-1 {
  width: 7.14286%; }

.col-2 {
  width: 14.28571%; }

.col-3 {
  width: 21.42857%; }

.col-4 {
  width: 28.57143%; }

.col-5 {
  width: 35.71429%; }

.col-6 {
  width: 42.85714%; }

.col-7 {
  width: 50%; }

.col-8 {
  width: 57.14286%; }

.col-9 {
  width: 64.28571%; }

.col-10 {
  width: 71.42857%; }

.col-11 {
  width: 78.57143%; }

.col-12 {
  width: 85.71429%; }

.col-13 {
  width: 92.85714%; }

.col-14 {
  width: 100%; }

@media (min-width: 983px) {
  .col-desktop-1 {
    grid-column: span 1; }
  .col-desktop-2 {
    grid-column: span 2; }
  .col-desktop-3 {
    grid-column: span 3; }
  .col-desktop-4 {
    grid-column: span 4; }
  .col-desktop-5 {
    grid-column: span 5; }
  .col-desktop-6 {
    grid-column: span 6; }
  .col-desktop-7 {
    grid-column: span 7; }
  .col-desktop-8 {
    grid-column: span 8; }
  .col-desktop-9 {
    grid-column: span 9; }
  .col-desktop-10 {
    grid-column: span 10; }
  .col-desktop-11 {
    grid-column: span 11; }
  .col-desktop-12 {
    grid-column: span 12; }
  .col-desktop-13 {
    grid-column: span 13; }
  .col-desktop-14 {
    grid-column: span 14; }
  .hide-desktop {
    display: none !important; } }

@media (max-width: 982px) {
  .col-mobile-1 {
    grid-column: span 1; }
  .col-mobile-2 {
    grid-column: span 2; }
  .col-mobile-3 {
    grid-column: span 3; }
  .col-mobile-4 {
    grid-column: span 4; }
  .col-mobile-5 {
    grid-column: span 5; }
  .col-mobile-6 {
    grid-column: span 6; }
  .col-mobile-7 {
    grid-column: span 7; }
  .col-mobile-8 {
    grid-column: span 8; }
  .col-mobile-9 {
    grid-column: span 9; }
  .col-mobile-10 {
    grid-column: span 10; }
  .col-mobile-11 {
    grid-column: span 11; }
  .col-mobile-12 {
    grid-column: span 12; }
  .col-mobile-13 {
    grid-column: span 13; }
  .col-mobile-14 {
    grid-column: span 14; }
  .hide-mobile {
    display: none !important; } }

.bg-blue {
  background-color: #0071bc !important; }

.border-blue {
  border-color: #0071bc !important; }

.text-blue {
  color: #0071bc !important; }

.btn-blue {
  background-color: rgba(0, 113, 188, 0.75) !important; }

.btn-blue:hover {
  background-color: #0071bc !important; }

.bg-grey {
  background-color: #e9ecef !important; }

.border-grey {
  border-color: #e9ecef !important; }

.text-grey {
  color: #e9ecef !important; }

.btn-grey {
  background-color: rgba(233, 236, 239, 0.75) !important; }

.btn-grey:hover {
  background-color: #e9ecef !important; }

.bg-green {
  background-color: #20c997 !important; }

.border-green {
  border-color: #20c997 !important; }

.text-green {
  color: #20c997 !important; }

.btn-green {
  background-color: rgba(32, 201, 151, 0.75) !important; }

.btn-green:hover {
  background-color: #20c997 !important; }

.bg-red {
  background-color: #c95968 !important; }

.border-red {
  border-color: #c95968 !important; }

.text-red {
  color: #c95968 !important; }

.btn-red {
  background-color: rgba(201, 89, 104, 0.75) !important; }

.btn-red:hover {
  background-color: #c95968 !important; }

.bg-yellow {
  background-color: #ffc43d !important; }

.border-yellow {
  border-color: #ffc43d !important; }

.text-yellow {
  color: #ffc43d !important; }

.btn-yellow {
  background-color: rgba(255, 196, 61, 0.75) !important; }

.btn-yellow:hover {
  background-color: #ffc43d !important; }

.bg-black {
  background-color: #000 !important; }

.border-black {
  border-color: #000 !important; }

.text-black {
  color: #000 !important; }

.btn-black {
  background-color: rgba(0, 0, 0, 0.75) !important; }

.btn-black:hover {
  background-color: #000 !important; }

.bg-white {
  background-color: #fff !important; }

.border-white {
  border-color: #fff !important; }

.text-white {
  color: #fff !important; }

.btn-white {
  background-color: rgba(255, 255, 255, 0.75) !important; }

.btn-white:hover {
  background-color: #fff !important; }

.btn-white:hover {
  background-color: #eee !important;
  color: #666 !important; }

.bg-dark {
  background-color: #333 !important; }

.border-dark {
  border-color: #333 !important; }

.text-dark {
  color: #333 !important; }

.btn-dark {
  background-color: rgba(51, 51, 51, 0.75) !important; }

.btn-dark:hover {
  background-color: #333 !important; }

.bg-silver {
  background-color: #999 !important; }

.border-silver {
  border-color: #999 !important; }

.text-silver {
  color: #999 !important; }

.btn-silver {
  background-color: rgba(153, 153, 153, 0.75) !important; }

.btn-silver:hover {
  background-color: #999 !important; }

.btn-block {
  width: 100%;
  text-align: center;
  justify-content: center; }

.border {
  border: 1px solid #ccc; }

.h-5 {
  height: 5%; }

.w-5 {
  width: 5%; }

.h-10 {
  height: 10%; }

.w-10 {
  width: 10%; }

.h-15 {
  height: 15%; }

.w-15 {
  width: 15%; }

.h-20 {
  height: 20%; }

.w-20 {
  width: 20%; }

.h-25 {
  height: 25%; }

.w-25 {
  width: 25%; }

.h-30 {
  height: 30%; }

.w-30 {
  width: 30%; }

.h-35 {
  height: 35%; }

.w-35 {
  width: 35%; }

.h-40 {
  height: 40%; }

.w-40 {
  width: 40%; }

.h-45 {
  height: 45%; }

.w-45 {
  width: 45%; }

.h-50 {
  height: 50%; }

.w-50 {
  width: 50%; }

.h-55 {
  height: 55%; }

.w-55 {
  width: 55%; }

.h-60 {
  height: 60%; }

.w-60 {
  width: 60%; }

.h-65 {
  height: 65%; }

.w-65 {
  width: 65%; }

.h-70 {
  height: 70%; }

.w-70 {
  width: 70%; }

.h-75 {
  height: 75%; }

.w-75 {
  width: 75%; }

.h-80 {
  height: 80%; }

.w-80 {
  width: 80%; }

.h-85 {
  height: 85%; }

.w-85 {
  width: 85%; }

.h-90 {
  height: 90%; }

.w-90 {
  width: 90%; }

.h-95 {
  height: 95%; }

.w-95 {
  width: 95%; }

.h-100 {
  height: 100%; }

.w-100 {
  width: 100%; }

.icon-size-1 {
  font-size: 16px !important; }

.icon-size-2 {
  font-size: 24px !important; }

.icon-size-3 {
  font-size: 32px !important; }

.icon-size-4 {
  font-size: 48px !important; }

.icon-size-5 {
  font-size: 64px !important; }

.icon-size-6 {
  font-size: 128px !important; }

@media (min-width: 983px) {
  .h-desktop-5 {
    height: 5%; }
  .w-desktop-5 {
    width: 5%; }
  .h-desktop-10 {
    height: 10%; }
  .w-desktop-10 {
    width: 10%; }
  .h-desktop-15 {
    height: 15%; }
  .w-desktop-15 {
    width: 15%; }
  .h-desktop-20 {
    height: 20%; }
  .w-desktop-20 {
    width: 20%; }
  .h-desktop-25 {
    height: 25%; }
  .w-desktop-25 {
    width: 25%; }
  .h-desktop-30 {
    height: 30%; }
  .w-desktop-30 {
    width: 30%; }
  .h-desktop-35 {
    height: 35%; }
  .w-desktop-35 {
    width: 35%; }
  .h-desktop-40 {
    height: 40%; }
  .w-desktop-40 {
    width: 40%; }
  .h-desktop-45 {
    height: 45%; }
  .w-desktop-45 {
    width: 45%; }
  .h-desktop-50 {
    height: 50%; }
  .w-desktop-50 {
    width: 50%; }
  .h-desktop-55 {
    height: 55%; }
  .w-desktop-55 {
    width: 55%; }
  .h-desktop-60 {
    height: 60%; }
  .w-desktop-60 {
    width: 60%; }
  .h-desktop-65 {
    height: 65%; }
  .w-desktop-65 {
    width: 65%; }
  .h-desktop-70 {
    height: 70%; }
  .w-desktop-70 {
    width: 70%; }
  .h-desktop-75 {
    height: 75%; }
  .w-desktop-75 {
    width: 75%; }
  .h-desktop-80 {
    height: 80%; }
  .w-desktop-80 {
    width: 80%; }
  .h-desktop-85 {
    height: 85%; }
  .w-desktop-85 {
    width: 85%; }
  .h-desktop-90 {
    height: 90%; }
  .w-desktop-90 {
    width: 90%; }
  .h-desktop-95 {
    height: 95%; }
  .w-desktop-95 {
    width: 95%; }
  .h-desktop-100 {
    height: 100%; }
  .w-desktop-100 {
    width: 100%; } }

@media (max-width: 982px) {
  .h-mobile-5 {
    height: 5%; }
  .w-mobile5 {
    width: 5%; }
  .h-mobile-10 {
    height: 10%; }
  .w-mobile10 {
    width: 10%; }
  .h-mobile-15 {
    height: 15%; }
  .w-mobile15 {
    width: 15%; }
  .h-mobile-20 {
    height: 20%; }
  .w-mobile20 {
    width: 20%; }
  .h-mobile-25 {
    height: 25%; }
  .w-mobile25 {
    width: 25%; }
  .h-mobile-30 {
    height: 30%; }
  .w-mobile30 {
    width: 30%; }
  .h-mobile-35 {
    height: 35%; }
  .w-mobile35 {
    width: 35%; }
  .h-mobile-40 {
    height: 40%; }
  .w-mobile40 {
    width: 40%; }
  .h-mobile-45 {
    height: 45%; }
  .w-mobile45 {
    width: 45%; }
  .h-mobile-50 {
    height: 50%; }
  .w-mobile50 {
    width: 50%; }
  .h-mobile-55 {
    height: 55%; }
  .w-mobile55 {
    width: 55%; }
  .h-mobile-60 {
    height: 60%; }
  .w-mobile60 {
    width: 60%; }
  .h-mobile-65 {
    height: 65%; }
  .w-mobile65 {
    width: 65%; }
  .h-mobile-70 {
    height: 70%; }
  .w-mobile70 {
    width: 70%; }
  .h-mobile-75 {
    height: 75%; }
  .w-mobile75 {
    width: 75%; }
  .h-mobile-80 {
    height: 80%; }
  .w-mobile80 {
    width: 80%; }
  .h-mobile-85 {
    height: 85%; }
  .w-mobile85 {
    width: 85%; }
  .h-mobile-90 {
    height: 90%; }
  .w-mobile90 {
    width: 90%; }
  .h-mobile-95 {
    height: 95%; }
  .w-mobile95 {
    width: 95%; }
  .h-mobile-100 {
    height: 100%; }
  .w-mobile100 {
    width: 100%; } }

.m-0 {
  margin: 0 0 0 0 !important; }

.ml-0 {
  margin-left: 0 !important; }

.mr-0 {
  margin-right: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.p-0 {
  padding: 0 0 0 0 !important; }

.pl-0 {
  padding-left: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.pt-0 {
  padding-top: 0 !important; }

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.m-1 {
  margin: 0.25rem 0.25rem 0.25rem 0.25rem !important; }

.ml-1 {
  margin-left: 0.25rem !important; }

.mr-1 {
  margin-right: 0.25rem !important; }

.mb-1 {
  margin-bottom: 0.25rem !important; }

.mt-1 {
  margin-top: 0.25rem !important; }

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important; }

.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important; }

.p-1 {
  padding: 0.25rem 0.25rem 0.25rem 0.25rem !important; }

.pl-1 {
  padding-left: 0.25rem !important; }

.pr-1 {
  padding-right: 0.25rem !important; }

.pb-1 {
  padding-bottom: 0.25rem !important; }

.pt-1 {
  padding-top: 0.25rem !important; }

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important; }

.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important; }

.m-2 {
  margin: 0.5rem 0.5rem 0.5rem 0.5rem !important; }

.ml-2 {
  margin-left: 0.5rem !important; }

.mr-2 {
  margin-right: 0.5rem !important; }

.mb-2 {
  margin-bottom: 0.5rem !important; }

.mt-2 {
  margin-top: 0.5rem !important; }

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important; }

.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important; }

.p-2 {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem !important; }

.pl-2 {
  padding-left: 0.5rem !important; }

.pr-2 {
  padding-right: 0.5rem !important; }

.pb-2 {
  padding-bottom: 0.5rem !important; }

.pt-2 {
  padding-top: 0.5rem !important; }

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important; }

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important; }

.m-3 {
  margin: 1rem 1rem 1rem 1rem !important; }

.ml-3 {
  margin-left: 1rem !important; }

.mr-3 {
  margin-right: 1rem !important; }

.mb-3 {
  margin-bottom: 1rem !important; }

.mt-3 {
  margin-top: 1rem !important; }

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important; }

.mx-3 {
  margin-left: 1rem !important;
  margin-right: 1rem !important; }

.p-3 {
  padding: 1rem 1rem 1rem 1rem !important; }

.pl-3 {
  padding-left: 1rem !important; }

.pr-3 {
  padding-right: 1rem !important; }

.pb-3 {
  padding-bottom: 1rem !important; }

.pt-3 {
  padding-top: 1rem !important; }

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important; }

.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important; }

.m-4 {
  margin: 1.5rem 1.5rem 1.5rem 1.5rem !important; }

.ml-4 {
  margin-left: 1.5rem !important; }

.mr-4 {
  margin-right: 1.5rem !important; }

.mb-4 {
  margin-bottom: 1.5rem !important; }

.mt-4 {
  margin-top: 1.5rem !important; }

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important; }

.mx-4 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important; }

.p-4 {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem !important; }

.pl-4 {
  padding-left: 1.5rem !important; }

.pr-4 {
  padding-right: 1.5rem !important; }

.pb-4 {
  padding-bottom: 1.5rem !important; }

.pt-4 {
  padding-top: 1.5rem !important; }

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important; }

.m-5 {
  margin: 3rem 3rem 3rem 3rem !important; }

.ml-5 {
  margin-left: 3rem !important; }

.mr-5 {
  margin-right: 3rem !important; }

.mb-5 {
  margin-bottom: 3rem !important; }

.mt-5 {
  margin-top: 3rem !important; }

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

.mx-5 {
  margin-left: 3rem !important;
  margin-right: 3rem !important; }

.p-5 {
  padding: 3rem 3rem 3rem 3rem !important; }

.pl-5 {
  padding-left: 3rem !important; }

.pr-5 {
  padding-right: 3rem !important; }

.pb-5 {
  padding-bottom: 3rem !important; }

.pt-5 {
  padding-top: 3rem !important; }

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

.px-5 {
  padding-left: 3rem !important;
  padding-right: 3rem !important; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.my-auto {
  margin-top: auto;
  margin-bottom: auto; }

.ml-auto {
  margin-left: auto; }

.mr-auto {
  margin-right: auto; }

@media (min-width: 983px) {
  .m-desktop-0 {
    margin: 0 0 0 0 !important; }
  .ml-desktop-0 {
    margin-left: 0 !important; }
  .mr-desktop-0 {
    margin-right: 0 !important; }
  .mb-desktop-0 {
    margin-bottom: 0 !important; }
  .mt-desktop-0 {
    margin-top: 0 !important; }
  .my-desktop-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .mx-desktop-0 {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .p-desktop-0 {
    padding: 0 0 0 0 !important; }
  .pl-desktop-0 {
    padding-left: 0 !important; }
  .pr-desktop-0 {
    padding-right: 0 !important; }
  .pb-desktop-0 {
    padding-bottom: 0 !important; }
  .pt-desktop-0 {
    padding-top: 0 !important; }
  .py-desktop-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  .px-desktop-0 {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .m-desktop-1 {
    margin: 0.25rem 0.25rem 0.25rem 0.25rem !important; }
  .ml-desktop-1 {
    margin-left: 0.25rem !important; }
  .mr-desktop-1 {
    margin-right: 0.25rem !important; }
  .mb-desktop-1 {
    margin-bottom: 0.25rem !important; }
  .mt-desktop-1 {
    margin-top: 0.25rem !important; }
  .my-desktop-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important; }
  .mx-desktop-1 {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important; }
  .p-desktop-1 {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem !important; }
  .pl-desktop-1 {
    padding-left: 0.25rem !important; }
  .pr-desktop-1 {
    padding-right: 0.25rem !important; }
  .pb-desktop-1 {
    padding-bottom: 0.25rem !important; }
  .pt-desktop-1 {
    padding-top: 0.25rem !important; }
  .py-desktop-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important; }
  .px-desktop-1 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important; }
  .m-desktop-2 {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem !important; }
  .ml-desktop-2 {
    margin-left: 0.5rem !important; }
  .mr-desktop-2 {
    margin-right: 0.5rem !important; }
  .mb-desktop-2 {
    margin-bottom: 0.5rem !important; }
  .mt-desktop-2 {
    margin-top: 0.5rem !important; }
  .my-desktop-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important; }
  .mx-desktop-2 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important; }
  .p-desktop-2 {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem !important; }
  .pl-desktop-2 {
    padding-left: 0.5rem !important; }
  .pr-desktop-2 {
    padding-right: 0.5rem !important; }
  .pb-desktop-2 {
    padding-bottom: 0.5rem !important; }
  .pt-desktop-2 {
    padding-top: 0.5rem !important; }
  .py-desktop-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important; }
  .px-desktop-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important; }
  .m-desktop-3 {
    margin: 1rem 1rem 1rem 1rem !important; }
  .ml-desktop-3 {
    margin-left: 1rem !important; }
  .mr-desktop-3 {
    margin-right: 1rem !important; }
  .mb-desktop-3 {
    margin-bottom: 1rem !important; }
  .mt-desktop-3 {
    margin-top: 1rem !important; }
  .my-desktop-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important; }
  .mx-desktop-3 {
    margin-left: 1rem !important;
    margin-right: 1rem !important; }
  .p-desktop-3 {
    padding: 1rem 1rem 1rem 1rem !important; }
  .pl-desktop-3 {
    padding-left: 1rem !important; }
  .pr-desktop-3 {
    padding-right: 1rem !important; }
  .pb-desktop-3 {
    padding-bottom: 1rem !important; }
  .pt-desktop-3 {
    padding-top: 1rem !important; }
  .py-desktop-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important; }
  .px-desktop-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important; }
  .m-desktop-4 {
    margin: 1.5rem 1.5rem 1.5rem 1.5rem !important; }
  .ml-desktop-4 {
    margin-left: 1.5rem !important; }
  .mr-desktop-4 {
    margin-right: 1.5rem !important; }
  .mb-desktop-4 {
    margin-bottom: 1.5rem !important; }
  .mt-desktop-4 {
    margin-top: 1.5rem !important; }
  .my-desktop-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important; }
  .mx-desktop-4 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important; }
  .p-desktop-4 {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem !important; }
  .pl-desktop-4 {
    padding-left: 1.5rem !important; }
  .pr-desktop-4 {
    padding-right: 1.5rem !important; }
  .pb-desktop-4 {
    padding-bottom: 1.5rem !important; }
  .pt-desktop-4 {
    padding-top: 1.5rem !important; }
  .py-desktop-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important; }
  .px-desktop-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important; }
  .m-desktop-5 {
    margin: 3rem 3rem 3rem 3rem !important; }
  .ml-desktop-5 {
    margin-left: 3rem !important; }
  .mr-desktop-5 {
    margin-right: 3rem !important; }
  .mb-desktop-5 {
    margin-bottom: 3rem !important; }
  .mt-desktop-5 {
    margin-top: 3rem !important; }
  .my-desktop-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important; }
  .mx-desktop-5 {
    margin-left: 3rem !important;
    margin-right: 3rem !important; }
  .p-desktop-5 {
    padding: 3rem 3rem 3rem 3rem !important; }
  .pl-desktop-5 {
    padding-left: 3rem !important; }
  .pr-desktop-5 {
    padding-right: 3rem !important; }
  .pb-desktop-5 {
    padding-bottom: 3rem !important; }
  .pt-desktop-5 {
    padding-top: 3rem !important; }
  .py-desktop-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; }
  .px-desktop-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important; }
  .mx-desktop-auto {
    margin-left: auto;
    margin-right: auto; }
  .my-desktop-auto {
    margin-top: auto;
    margin-bottom: auto; }
  .ml-desktop-auto {
    margin-left: auto; }
  .mr-desktop-auto {
    margin-right: auto; } }

@media (max-width: 982px) {
  .m-mobile-0 {
    margin: 0 0 0 0 !important; }
  .ml-mobile-0 {
    margin-left: 0 !important; }
  .mr-mobile-0 {
    margin-right: 0 !important; }
  .mb-mobile-0 {
    margin-bottom: 0 !important; }
  .mt-mobile-0 {
    margin-top: 0 !important; }
  .my-mobile-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .mx-mobile-0 {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .p-mobile-0 {
    padding: 0 0 0 0 !important; }
  .pl-mobile-0 {
    padding-left: 0 !important; }
  .pr-mobile-0 {
    padding-right: 0 !important; }
  .pb-mobile-0 {
    padding-bottom: 0 !important; }
  .pt-mobile-0 {
    padding-top: 0 !important; }
  .py-mobile-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  .px-mobile-0 {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .m-mobile-1 {
    margin: 0.25rem 0.25rem 0.25rem 0.25rem !important; }
  .ml-mobile-1 {
    margin-left: 0.25rem !important; }
  .mr-mobile-1 {
    margin-right: 0.25rem !important; }
  .mb-mobile-1 {
    margin-bottom: 0.25rem !important; }
  .mt-mobile-1 {
    margin-top: 0.25rem !important; }
  .my-mobile-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important; }
  .mx-mobile-1 {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important; }
  .p-mobile-1 {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem !important; }
  .pl-mobile-1 {
    padding-left: 0.25rem !important; }
  .pr-mobile-1 {
    padding-right: 0.25rem !important; }
  .pb-mobile-1 {
    padding-bottom: 0.25rem !important; }
  .pt-mobile-1 {
    padding-top: 0.25rem !important; }
  .py-mobile-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important; }
  .px-mobile-1 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important; }
  .m-mobile-2 {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem !important; }
  .ml-mobile-2 {
    margin-left: 0.5rem !important; }
  .mr-mobile-2 {
    margin-right: 0.5rem !important; }
  .mb-mobile-2 {
    margin-bottom: 0.5rem !important; }
  .mt-mobile-2 {
    margin-top: 0.5rem !important; }
  .my-mobile-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important; }
  .mx-mobile-2 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important; }
  .p-mobile-2 {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem !important; }
  .pl-mobile-2 {
    padding-left: 0.5rem !important; }
  .pr-mobile-2 {
    padding-right: 0.5rem !important; }
  .pb-mobile-2 {
    padding-bottom: 0.5rem !important; }
  .pt-mobile-2 {
    padding-top: 0.5rem !important; }
  .py-mobile-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important; }
  .px-mobile-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important; }
  .m-mobile-3 {
    margin: 1rem 1rem 1rem 1rem !important; }
  .ml-mobile-3 {
    margin-left: 1rem !important; }
  .mr-mobile-3 {
    margin-right: 1rem !important; }
  .mb-mobile-3 {
    margin-bottom: 1rem !important; }
  .mt-mobile-3 {
    margin-top: 1rem !important; }
  .my-mobile-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important; }
  .mx-mobile-3 {
    margin-left: 1rem !important;
    margin-right: 1rem !important; }
  .p-mobile-3 {
    padding: 1rem 1rem 1rem 1rem !important; }
  .pl-mobile-3 {
    padding-left: 1rem !important; }
  .pr-mobile-3 {
    padding-right: 1rem !important; }
  .pb-mobile-3 {
    padding-bottom: 1rem !important; }
  .pt-mobile-3 {
    padding-top: 1rem !important; }
  .py-mobile-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important; }
  .px-mobile-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important; }
  .m-mobile-4 {
    margin: 1.5rem 1.5rem 1.5rem 1.5rem !important; }
  .ml-mobile-4 {
    margin-left: 1.5rem !important; }
  .mr-mobile-4 {
    margin-right: 1.5rem !important; }
  .mb-mobile-4 {
    margin-bottom: 1.5rem !important; }
  .mt-mobile-4 {
    margin-top: 1.5rem !important; }
  .my-mobile-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important; }
  .mx-mobile-4 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important; }
  .p-mobile-4 {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem !important; }
  .pl-mobile-4 {
    padding-left: 1.5rem !important; }
  .pr-mobile-4 {
    padding-right: 1.5rem !important; }
  .pb-mobile-4 {
    padding-bottom: 1.5rem !important; }
  .pt-mobile-4 {
    padding-top: 1.5rem !important; }
  .py-mobile-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important; }
  .px-mobile-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important; }
  .m-mobile-5 {
    margin: 3rem 3rem 3rem 3rem !important; }
  .ml-mobile-5 {
    margin-left: 3rem !important; }
  .mr-mobile-5 {
    margin-right: 3rem !important; }
  .mb-mobile-5 {
    margin-bottom: 3rem !important; }
  .mt-mobile-5 {
    margin-top: 3rem !important; }
  .my-mobile-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important; }
  .mx-mobile-5 {
    margin-left: 3rem !important;
    margin-right: 3rem !important; }
  .p-mobile-5 {
    padding: 3rem 3rem 3rem 3rem !important; }
  .pl-mobile-5 {
    padding-left: 3rem !important; }
  .pr-mobile-5 {
    padding-right: 3rem !important; }
  .pb-mobile-5 {
    padding-bottom: 3rem !important; }
  .pt-mobile-5 {
    padding-top: 3rem !important; }
  .py-mobile-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; }
  .px-mobile-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important; }
  .mx-mobile-auto {
    margin-left: auto;
    margin-right: auto; }
  .my-mobile-auto {
    margin-top: auto;
    margin-bottom: auto; }
  .ml-mobile-auto {
    margin-left: auto; }
  .mr-mobile-auto {
    margin-right: auto; } }

.justify-content-start {
  justify-content: start; }

.justify-content-end {
  justify-content: end; }

.justify-content-center {
  justify-content: center; }

.justify-content-space-between {
  justify-content: space-between; }

.justify-content-space-around {
  justify-content: space-around; }

.align-items-start {
  align-items: start; }

.align-self-start {
  align-self: start; }

.align-items-end {
  align-items: end; }

.align-self-end {
  align-self: end; }

.align-items-center {
  align-items: center; }

.align-self-center {
  align-self: center; }

.align-items-baseline {
  align-items: baseline; }

.align-self-baseline {
  align-self: baseline; }

.align-items-stretch {
  align-items: stretch; }

.align-self-stretch {
  align-self: stretch; }

.font-weight-normal {
  font-weight: normal !important; }

.font-weight-bold {
  font-weight: bold !important; }

.font-weight-light {
  font-weight: 300 !important; }

.font-weight-medium {
  font-weight: 400 !important; }

.font-weight-semibold {
  font-weight: 500 !important; }
